$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-gumbo: #7CA1A6;
$color-terracotta: #E2725B; 
$color-geraldin: #FB8989;
$color-fiord: #415a67; 
$color-pelorous: #42bcbd; 
$color-charm: #d76d93; 
$color-affair: #7e4b83; 
$color-confetti: #eacb5f;
$color-fantasy: #FAF3F0;
$color-twilight: #E4CFDE;