-
    var header = '#what can I do';
    var whatCanIDoList = [
        {
            title: 'FronT-EnD',
            skillList: [
                'HTML5', 'CSS3',
                'JavaScrip', 'React.js','HTTP-HTTPS',
                 'JSON','AJAX','PUG','SASS',
                 'GULP','Git+GitHub','NPM'
            ]
        },
        {
            title: 'BacK-EnD',
            skillList: [
                'Node.js', 'Express.js',
                'PostgreSQL',
            ]
        }
    ];


#what-can-i-do
.what-can-i-do
    .what-can-i-do__header=header
    each whatCanIDo in whatCanIDoList
        .what-can-i-do__title=whatCanIDo.title
        .what-can-i-do__list
            each skill in whatCanIDo.skillList
                .what-can-i-do__skill=skill
