-
    var header = '#recent projects'
    var projectList = [
        {
            title: 'Phone-store',
            date: '01-03-2019',
            url: 'https://phone-store-ecomm.netlify.com/',
            description: 'This is an E-commerce website made it with React, Bootstrap, JavaScript, Css3, HTML5 and some tools. You can access it at the following link: https://phone-store-ecomm.netlify.com/',
            },
                {
            title: 'Leguma-Vesela',
            date: '02-03-2019',
            url: 'https://smart-brain-facerecognition-fl.herokuapp.com/',
            description: "This is a website which has the power to recognize a face from a picture and build a box on it. It was made with HTML, CSS, JavaScript, React.js, Node.js, Express.js and PostgreSQL, and a little bit...of love and passion. A short demo is available on Youtube at the following link: https://www.youtube.com/watch?v=E3iQq7RCnxA&fbclid=IwAR2xE4BWHxWJc4RzUqd1Vsk_mOBjDDogZIknzqnlVi8-pg-gamxFHUiD1Ks",
        },
                {
            title: 'My-CV',
            date: '20-12-2018',
            url: 'https://stirbex.github.io/my-cv/',
            description: 'This project is made with pure HTML5 and CSS3.',
        }
    ]


#project
.project
    .project__header=header
    each project in projectList
        .project__card
                .project__title=project.title
                iframe(src=project.url id="project__iframe")
                .project__description=project.description