-
    var header = '#recent projects'
    var projectList = [
        {
            title: 'W3schools-replica',
            date: '20-12-2018',
            url: 'https://stirbex.github.io/w3schools-replica/',
            description: 'This is a replica of the famous site w3schools.com',
        },
                {
            title: 'Leguma-Vesela',
            date: '20-12-2018',
            url: 'https://stirbex.github.io/legume-site/',
            description: "This is a site witch has the purpose to help the farmers from Olt county, especial from Scarisoara village. They cultivate a lot ov vagetables witch are ecological, most of them. I had the idea to promovate this kind of food with the help that this site could gave me.",
        },
                {
            title: 'My-CV',
            date: '20-12-2018',
            url: 'https://stirbex.github.io/my-cv/',
            description: 'This project it is made it by pure HTML5 and CSS3',
        }
    ]


#project
.project
    .project__header=header
    each project in projectList
        .project__card
                .project__title=project.title
                iframe(src=project.url id="project__iframe")
                .project__description=project.description