-
    var show = 'Show message';
    var hide = 'Hide message';
    var descriptionList = [
        'Your screen is in landscape-mode',
        "To view, the website at his best follow the next advices:"
    ];
    var itemList = [
        'rotate your device in portratit-mode',
        'resize your browser to portratit-mode',
        'ignore all the above and hide this message pressing "Hide message"'
    ]
input.landscape__input(type="checkbox", id="landscape")
.landscape
    label.landscape__button(for="landscape")
        .landscape__message--show=show
        .landscape__message--hide=hide
    .landscape__body
        each description in descriptionList
            p.landsape__description=description
        ul.landscape__list
            each item in itemList
                li.landscape__item=item